# Creating a dataframe for ticker prices
## Using SBUX code for Starbucks Corporation

In [40]:
#import libraries to use

import pandas_datareader.data as web
import datetime

In [41]:
#Setting the time period: start and end date of when we became extracting tweets

start = datetime.datetime(2017, 7, 1)
end = datetime.datetime(2017, 7, 24)

In [42]:
#Read through the google finance page for ticker information on SBUX between the time frame defined above
df = web.DataReader("SBUX", 'google', start, end)

In [43]:
# Using a 'for loop' create a dataframe containing all ticker information

dates =[]
for x in range(len(df)):
    newdate = str(df.index[x])
    newdate = newdate[0:10]
    dates.append(newdate)

df['dates'] = dates

In [44]:
#Preview the first 5 lines of the dataframe
df.head()

             Open   High    Low  Close   Volume       dates
Date
2017-07-03  58.90  58.99  58.25  58.25  4575268  2017-07-03
2017-07-05  58.43  58.50  57.80  57.94  7773566  2017-07-05
2017-07-06  57.80  57.92  57.40  57.60  8886648  2017-07-06
2017-07-07  57.79  58.36  57.54  58.04  7278250  2017-07-07
2017-07-10  58.18  58.35  57.75  57.81  4832094  2017-07-10